.users-section
  display: flex

  .user
    margin-right: 10px
    background: #DADADA
    padding: 10px

    .title
      display: flex

      h5
        margin: 0 10px 0 0

      input
        margin-right: 15px
        width: 100px
        height: 20px

    p
      margin: 10px 0 0
      font-size: 10px

    .admin-checkbox,
    .paid-checkbox
      display: flex
      margin: 10px 0 0
      align-items: center

      p
        margin: 0

      input
        margin-left: 10px

  .draft-buttons
    display: flex
    margin-top: 15px
    max-width: 200px
    flex-wrap: wrap
    align-items: center

    button
      margin: 0
      width: 50px

  .action-buttons
    margin-top: 15px
