.admin-panel
  padding: 20px
  h1
    margin: 0
  h2
    display: inline-block
    margin: 10px 0
  span
    display: inline-block
    margin-left: 20px
    padding: 5px
    line-height: 13px
    font-size: 26px
    border-radius: 26px
    background: lightblue
    cursor: pointer
  p.selected
    font-weight: 700
    color: green
  button.selected
    background: green
    color: white
    border: 0

.admin-section
  display: flex
  flex-wrap: wrap

.panel
  background: #A3BCA3
  padding: 20px
  width: 200px
  border: 1px solid #DDD
  border-radius: 4px
  h4
    margin: 0
    font-size: 14px
  p
    margin: 10px 0
    font-size: 12px
    font-weight: 700
  input
    display: block
    width: 100%
    padding: 0
    border: 0
    margin: 10px 0
    height: 25px
  button
    display: block
    width: 100%
    margin: 0
    padding: 0
    border: 0
    margin-top: 10px
    height: 25px
    background: #DDD
    color: #333
    border: 1px solid #333
  .panel-buttons
    display: flex
    button
      flex-grow: 1
      margin: 0

.edit-draft
  h4
    margin-bottom: 10px

  .draft-buttons
    display: flex
    button
      flex-grow: 1
      margin: 0
      padding: 0
      border: 0
      height: 25px
      background: #DDD
      color: #333
      border: 1px solid #333
      &.selected
        background: #BEBECD

.delete-user
  p
    margin: 10px 0
    font-size: 12px
    font-weight: 700