@import 'variables'

.country-card
  display: flex
  position: relative
  margin: 0 5px 5px 0
  outline: 0
  border: 0
  border-radius: 4px
  box-shadow: 1px 1px 4px 1px #CCC
  background: #FFF
  cursor: pointer
  width: 240px
  height: 55px
  text-align: left
  color: #000
  @media only screen and (max-width: 529px)
    width: 100%


  &:hover
    background: $main-color
    color: #FFF

  .country-card-info
    display: flex
    padding: 0 15px
    align-items: center

  img
    margin-right: 10px
    width: 26px
    min-width: 26px
    height: 26px

  p
    display: flex
    margin: 0
    text-transform: uppercase
    font-size: 12px
    flex-direction: column

  &.owned,
  &.disabled
    cursor: default

  &.waiting-turn
    background: $main-color
    cursor: default
    color: #FFF

  &.disabled
    box-shadow: none
    background: rgba(149, 23, 116, 0.3)
    color: #666

  &.owned
    background: #39961B
    color: #FFF

  &.taken
    background: #951774
    color: #FFF

  &.selected
    background: $main-color
    cursor: default
    color: #FFF

    .country-card-info
      width: 50%

    .choice-submit
      visibility: visible
      opacity: 1
      margin: 0
      outline: 0
      border-radius: 0 4px 4px 0
      background: #39961B
      padding: 2px 0
      width: 100%

  .avatar
    color: #FFF
    font-size: 10px
    font-weight: 400
