.date-links
  display: flex
  align-items: flex-start
  justify-content: center
  margin: 0 auto
  padding: 6px 0
  background: #DBA012


  @media only screen and (max-width: 859px)
    display: none

  .event-link
    display: block
    position: relative
    width: 42px
    height: 30px
    background: #0e65ab
    text-decoration: none
    color: #FFF
    font-size: 12px
    line-height: 30px
    text-align: center
    // border-right: 1px solid #fff
    margin-right: 2px

    &.today
      background: #39961B

    &.active
      background: #ffffff
      color: #0e65ab