.events
  flex-grow: 2
  padding: 0 20px 0 0
  @media only screen and (max-width: 619px)
    width: 100%
    padding: 0
.date-links
  display: flex
  align-items: flex-start
  margin-bottom: 40px
  @media only screen and (max-width: 480px)
    display: none
  .event-link
    display: block
    position: relative
    width: 50px
    height: 30px
    background: #0e65ab
    text-decoration: none
    color: #FFF
    font-size: 14px
    line-height: 30px
    text-align: center
    margin-right: 2px
    &:after
      content: ''
      position: absolute
      bottom: -10px
      left: 0
      width: 0
      height: 0
      border-left: 25px solid transparent
      border-right: 25px solid transparent
      border-top: 10px solid #0e65ab
    &.active
      background: #DBA012
      &:after
        border-top: 10px solid #DBA012
.event-day
  margin-bottom: 30px
  h2
    font-family: 'Amiko', sans-serif
    font-weight: 400
    margin: 0 0 10px 0
    font-size: 20px
    text-transform: uppercase
  &.show
    .event-section
      display: block
  &.hide
    .event-section
      display: none

.event-section
  background: #FFF
  margin-top: 30px
  box-shadow: 1px 1px 4px 1px #CCC
  border-radius: 4px
  &:first-of-type
    margin-top: 0
  .title
    display: flex
    align-items: baseline
    background: #0e65ab
    color: #FFF
    padding: 20px 15px
    border-radius: 4px 4px 0 0
    @media only screen and (max-width: 899px)
      flex-direction: column
    h4
      font-family: 'Amiko', sans-serif
      font-size: 12px
      font-weight: 400
      margin: 0
      text-transform: uppercase
      letter-spacing: 1.3px
    p
      margin: 0 0 0 15px
      font-size: 12px
      @media only screen and (max-width: 899px)
        margin: 0
    .team-badge
      font-size: 10px
      padding: 3px 5px
      text-transform: uppercase
      background: #DBA012
      border-radius: 2px
      // color: #000
      margin-left: 15px
      box-shadow: 1px 1px 2px 0 #666
      @media only screen and (max-width: 899px)
        margin: 5px 0 0 0
  .medal-winners
    display: flex
    align-items: flex-start
    @media only screen and (max-width: 899px)
      flex-direction: column
    .golds, .silvers, .bronzes
      width: 33.33%
      @media only screen and (max-width: 899px)
        width: 100%
    .silvers
      // border-left: 2px solid #0e65ab
      // border-right: 2px solid #0e65ab
    .winner
      display: flex
      position: relative
      flex-direction: column
      // border-radius: 4px
      &:last-of-type
        margin-bottom: 0
      .winner-name
        display: flex
        align-items: center
        margin: 0
        padding: 15px 10px 15px 15px
        font-size: 12px
        &:last-of-type
          margin-bottom: 0
      &.good
        background: rgba(14, 101, 171, 0.3)
      &.bad
        background: rgba(14, 101, 171, 0.3)
      &.taken
        // background: rgba(149, 23, 116, 0.3)
      &.owned 
        background: rgba(57, 150, 27, 0.3)
        .avatar
          // background: rgba(57, 150, 27, 0.3)
      p
        display: flex
        flex-direction: column
        margin: 0
        font-size: 13px
        text-transform: uppercase
        span
          font-size: 10px
          text-transform: uppercase
    .medal
      display: inline-block
      margin: 0 15px 0 0
      width: 30px
      min-width: 30px
      height: 30px
      border-radius: 30px
      font-size: 12px
      line-height: 30px
      text-align: center
      color: #FFF
      cursor: default
      box-shadow: 1px 1px 4px 1px #666
    img
      display: inline-block
      margin-right: 10px
      width: 26px
      height: 26px
    .golds
      .medal
        background: #DBA012
    .silvers
      .medal
        background: #B3B3B3
    .bronzes
      .medal
        background: #cd7f32
    p.avatar
      position: absolute
      top: -15px
      left: 0
      margin: 0
      padding: 2px 4px
      font-size: 10px
      font-weight: 700
      background: rgba(149, 23, 116, 0.3)
      text-transform: uppercase
          
