.events
  flex-grow: 2
  padding: 0 20px
  h2
    margin: 0 0 20px 0
    font-size: 26px
.event-day
  margin-bottom: 30px
.event-section
  background: #FFF
  margin-top: 20px
  box-shadow: 1px 1px 2px 0 #999
  border-radius: 4px
  .title
    display: flex
    align-items: baseline
    background: #0e65ab
    color: #FFF
    padding: 15px
    border-radius: 4px 4px 0 0
    h4
      font-size: 16px
      margin: 0
      text-transform: uppercase
      letter-spacing: 1.3px
    p
      margin: 0 0 0 15px
      font-size: 12px
  .medal-winners
    display: flex
    align-items: flex-start
    justify-content: space-around
    padding: 30px 10px
    p
      display: flex
      align-items: center
      margin: 0 0 10px 0
      font-size: 12px
      &:last-of-type
        margin-bottom: 0
    .medal
      display: inline-block
      margin: 0 20px 0 0
      width: 30px
      height: 30px
      border-radius: 30px
      font-size: 12px
      font-weight: 700
      line-height: 30px
      text-align: center
      color: #FFF
      cursor: default
      box-shadow: 1px 1px 1px 1px #999
    img
      display: inline-block
      margin-right: 10px
      width: 26px
      height: 26px
    .golds
      margin: 0 20px 0 0
      .medal
        background: #ffbf00
    .silvers
      margin: 0 20px 0 20px
      .medal
        background: #c0c0c0
    .bronzes
      margin-left: 20px
      .medal
        background: #cd7f32
    span.avatar
      position: static
      margin-left: 15px
      border-radius: 4px
      background: #951774
      color: #FFF
      font-weight: 700
      padding: 4px 6px
      text-transform: uppercase
