.events
  flex-grow: 2
  padding: 0 20px
  h1
    margin: 0 0 15px
    font-size: 26px
.event-section
  background: rgba(57, 150, 27, 0.2)
  padding: 10px
  margin: 5px 0
  box-shadow: 1px 1px 2px 0 #999
  .title
    display: flex
    align-items: baseline
    h4
      font-size: 16px
      margin: 0
    p
      margin: 0 0 0 15px
      font-size: 12px
  .medal-winners
    display: flex
    align-items: flex-start
    margin-top: 10px
    p
      display: flex
      align-items: center
      margin: 0 0 5px 0
      font-size: 12px
    .medal
      display: inline-block
      margin: 0 10px 0 0
      width: 24px
      height: 24px
      border-radius: 24px
      font-size: 12px
      font-weight: 700
      line-height: 24px
      text-align: center
      cursor: default
    img
      display: inline-block
      margin-right: 10px
      width: 26px
      height: 26px
    .golds
      margin: 0 20px 0 0
      .medal
        background: #ffbf00
    .silvers
      margin: 0 20px 0 20px
      .medal
        background: #c0c0c0
    .bronzes
      margin-left: 20px
      .medal
        background: #cd7f32
    span.avatar
      position: static
      margin-left: 6px
      border-radius: 4px
      background: #0e65ab
      color: #FFF
      font-weight: 700
      padding: 2px 4px
      text-transform: uppercase
