header
  // background: #333
  // box-shadow: 0 0 2px 2px #000
  position: relative
  z-index: 2
  .header-content
    display: flex
    height: 80px
    align-items: center
    max-width: 1220px
    margin: 0 auto
    padding: 10px
    @media only screen and (max-width: 480px)
      padding: 10px 20px
  .mobile-menu-button
    display: none
    font-size: 16px
    color: #FFF
    margin-right: 15px
    background: transparent
    border: 0
    outline: 0
    cursor: pointer
    @media only screen and (max-width: 480px)
      display: block
  h1
    font-family: 'Amiko', sans-serif
    margin: 0
    color: #333
    font-size: 30px
  h2
    flex-grow: 2
    text-align: center
    margin: 0
    color: #FFF
    font-size: 18px
  a
    color: #FFF
    font-size: 14px
    margin-right: 15px
    cursor: pointer
    &:hover
      color: #CCC

  @media only screen and (max-width: 480px)
    h1
      font-size: 16px
    h2
      display: none
    a
      display: none
