header
  background: linear-gradient(to bottom, #75054c 0%,#951774 100%)
  box-shadow: 0 0 2px 2px #333
  position: relative
  z-index: 2
  .header-content
    display: flex
    height: 50px
    align-items: center
    max-width: 1220px
    margin: 0 auto
    padding: 10px
  h1
    margin: 0
    color: #FFF
    font-size: 26px
  h2
    flex-grow: 2
    text-align: center
    margin: 0
    color: #FFF
    font-size: 18px
  a
    color: #FFF
    font-size: 14px
    margin-right: 15px
    cursor: pointer
    &:hover
      color: #CCC
  button
    width: 150px
    height: 30px
    outline: 0
    border: 0
    &.selected
      background: green
      color: white