.login-wrapper
  p
    color: #FFF
    margin: 0 0 5px 0
    font-size: 12px

.facebook-login
  width: 36px
  height: 36px
  background: #3b5998
  border-radius: 36px
  color: #FFF
  font-size: 16px
  padding: 0
  margin-right: 10px
  cursor: pointer
  i
    display: block
    line-height: 36px

.google-login
  width: 36px
  height: 36px
  background: #bf311f
  border-radius: 36px
  color: #FFF
  font-size: 16px
  padding: 0
  cursor: pointer
  i
    display: block
    line-height: 36px