.main-page
  width: 100%
  .hero
    padding: 20px
    background: #0e65ab
    @media only screen and (max-width: 1000px)
      padding: 20px 0
    h2
      text-align: center
      font-size: 30px
      color: #FFF
      text-transform: uppercase
      margin: 20px 0
      letter-spacing: 1px
      @media only screen and (max-width: 1000px)
        font-size: 20px
        padding: 0 20px
    .datamap-container
      margin: 0 auto
    .datamap-info
      height: 30px
      width: 100%
      text-align: center
      // margin: 0
      color: #FFF
    button
      font-family: 'Amiko', sans-serif
      display: block
      width: 220px
      padding: 15px 10px
      border: 0
      outline: 0
      background: #FFF
      color: #0e65ab
      font-size: 14px
      margin: 0 auto
      border-radius: 4px
    .login-wrapper
      width: 400px
      margin: 50px auto 0
      p
        font-family: 'Amiko', sans-serif
        color: #FFF
        text-transform: uppercase
        text-align: center
        letter-spacing: 1px
        margin: 0 0 20px 0
      @media only screen and (max-width: 600px)
        width: 100%
        p
          font-size: 12px
          margin-bottom: 10px
    .login-buttons
      display: flex
      align-items: center
      width: 210px
      margin: 0 auto
      button
        width: 100px
        height: auto
        margin: 0
        i
          line-height: normal
        &.facebook-login
          margin-right: 10px
      @media only screen and (max-width: 600px)
        width: 140px
        button
          width: 60px
          padding: 10px
          &.facebook-login
            margin-right: 20px


  .rules-wrapper
    max-width: 1305px
    padding: 40px 20%
    @media only screen and (max-width: 600px)
      padding: 20px
    @media only screen and (min-width: 601px) and (max-width: 760px)
      padding: 40px 10%
    .rules
      margin: 0 auto
      h3
        background: #0e65ab
        color: #FFF
        padding: 20px
        margin: 0
        border-radius: 4px
        font-size: 12px
        letter-spacing: 1px
        text-transform: uppercase
      h4
        margin: 20px 0
        // text-transform: uppercase
        font-size: 16px
      ol
        padding: 0 0 0 20px
        font-size: 14px
        .point-list
          margin: 10px 0
        li
          margin: 15px 0
        p
          margin: 10px 0
