.main-page
  width: 100%
  .hero
    padding: 40px 20%
    background: #0e65ab
    h2
      text-align: center
      font-size: 30px
      color: #FFF
      text-transform: uppercase
      margin: 20px 0
    svg
      display: block
      fill: #FFF
      // width: 60%
      // max-width: 860px
      margin: 0 auto
  .rules-wrapper
    max-width: 1305px
    padding: 40px 20%
    .rules
      margin: 0 auto
      h3
        // margin: 0
        font-size: 20px
        text-transform: uppercase
