.draft-menu
  display: none
  padding: 0
  margin-bottom: 20px
  a
    background: #0e65ab
    flex-grow: 1
    color: #FFF
    font-size: 11px
    text-align: center
    text-decoration: none
    padding: 15px 0
    margin-right: 2px
    border-radius: 0 0 4px 4px
    text-transform: uppercase
    &:last-of-type
      margin-right: 0
    &.active
      background: #DBA012

  @media only screen and (max-width: 619px)
    display: flex

.mobile-menu
  display: none
  background: #333
  width: 100%
  ul
    font-family: 'Akimo', sans-serif
    margin: 0
    padding: 10px 20px
    li
      list-style: none
      padding: 5px 0
      &.sublink
        padding-left: 15px
      &.show
        .login
          display: none
        .login-wrapper
          display: block
  a
    text-decoration: none
    text-transform: uppercase
    font-size: 12px
    color: #f0f0f0
  @media only screen and (max-width: 619px)
    &.show
      display: block