.regions
  margin-top: 53px
  flex-grow: 2

  .region
    margin-bottom: 30px
    h2
      display: inline-block
      font-size: 20px
      margin: 0 20px 10px 0
      text-transform: uppercase
      letter-spacing: 1.3px
      & + span
        font-size: 14px
        text-transform: uppercase
    .country-selections
      display: flex
      flex-wrap: wrap