.sport-links-container
  background: #0e65ab

.sport-links
  display: flex
  align-items: center
  justify-content: space-between
  margin: 0 auto 40px auto
  padding: 6px 0
  background: #0e65ab
  max-width: 1440px

  .sport-link
    display: block
    position: relative
    text-decoration: none
    color: #FFF
    font-size: 12px
    text-align: center
    margin-right: 2px
    padding: 5px 10px;