.choice-submit
  visibility: hidden
  opacity: 0
  background: transparent
  border: 0
  width: 0
  padding: 15px 0
  font-weight: 700
  text-transform: uppercase
  color: #FFF
  cursor: pointer
  border-left: 1px solid #FFF
  -webkit-transition: width 0.5s, visibility 0.1s, opacity 0.1s
  transition: width 0.5s, visibility 0.1s, opacity 0.1s