.events-wrapper
  form
    display: flex
    margin: 20px auto
    border-radius: 4px
    background: #0e65ab
    padding: 10px
    max-width: 1305px
    flex-direction: column

    h4
      margin: 0
      margin-bottom: 10px
      text-transform: uppercase
      letter-spacing: 1px
      color: #FFF
      font-family: 'Amiko', sans-serif
      font-size: 12px
      font-weight: 400

    input
      margin: 0 0 10px
      border: 0
      padding: 0
      width: 150px
      height: 25px

      &[type='checkbox']
        width: auto

    p
      margin: 0 10px 0 30px
      font-size: 12px

    button
      outline: 0
      border: 0
      border-radius: 2px
      background: #FFF
      cursor: pointer
      padding: 5px
      width: 150px
      text-transform: uppercase
      color: #0e65ab
      font-weight: 700

    @media only screen and (min-width: 967px)
      flex-direction: row
      align-items: center

      h4
        margin: 0 15px 0 0

      input
        margin: 0 5px 0 0

      button
        margin: 0 0 0 20px
        width: auto
