.admin-event
  width: 100%
  max-width: 1305px
  padding: 20px
  margin: 0 auto

  .event-section
    .title
      display: flex
      align-items: baseline
      p
        margin: 0 15px 0 0
        font-size: 12px
    .admin-checkbox
      display: flex
      align-items: center
      margin: 10px 20px
      p
        margin: 0
        font-size: 10px
      input
        margin-left: 10px
    .rdt
      input
        margin: 10px 20px
    .medal-winners
      margin: 10px 20px
      span
        display: inline-block
        margin: 0 10px 0 0
        width: 10px
        min-width: 10px
        height: 10px
        border-radius: 10px
        font-size: 10px
        font-weight: 700
        text-align: center
        cursor: default
      .golds
        position: relative
        margin: 0 20px 0 0
        span
          background: #ffbf00
      .silvers
        position: relative
        margin: 0 20px 0 20px
        span
          background: #c0c0c0
      .bronzes
        position: relative
        margin-left: 20px
        span
          background: #cd7f32
    .action-buttons
      margin: 10px 20px
      padding-bottom: 10px