doctype
html
  head
    title Fantasy Olympics
    script(src="http://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js")
  body
    #content
    script(type="text/jsx;harmony=true" src="scripts/country_list.js")